= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  = f.fields_for :participations do |builder|
    %p= builder.label :user_id, 'User'
    %p= builder.text_field :user_id
  .actions
    = f.submit 'Save'
